@media screen and (min-width: $tablet) {
    .projects {
        margin: auto;
    }

    .filter {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .projects__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .projects__hover {
            width: 100%;
        }
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
    .projects__item {
        width: calc((100% - 30px) / 2);

        &:nth-child(n + 3) {
            margin-top: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}