.solutions {
    @media (max-width: 1199px) {
        display: none;
    }
}

// .solutions__list {
//     @extend %list;
// }

.solutions__item {
    text-align: center;
    color: $secondary-text-color;
}

// .solutions__title,
// .team__title,
// .clients__title {
//   margin-bottom: 50px;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   letter-spacing: 0.03em;
// }

// .solutions__list {
//   display: flex;
//   justify-content: center;
// }

// .solutions__item {
//   position: relative;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .solutions__label {
//   position: absolute;
//   left: 0;
//   bottom: 0;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 370px;
//   height: 70px;

//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.14;
//   text-align: center;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: $secondary-text-color;
//   background: rgba(47, 48, 58, 0.8);
// }
