@media screen and (min-width: $desktop) {
    .clients__list {
        flex-wrap: nowrap;
    }

    .clients__link {
        width: 170px;
        height: 92px;
    }

    .clients__item {
        margin-bottom: 0px;
    }

    .clients {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .clients__title {
        margin-top: 0px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-text-color;
    }
    
}

