@media screen and (min-width: $desktop) {
    .team__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;

        margin-bottom: 50px;
    }

    .team__list {
        flex-wrap: nowrap;
    }

    .social-media__item:hover {
        background-color: $accent-color;
        .social-media__icon {
            fill: $secondary-text-color;
        }
    }
}