.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $background-color;
  }
  
.footer__container {
  display: block; 
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;

  font-size: 14px;
  line-height: 1.71;

  text-align: center;
  letter-spacing: 0.03em;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__list {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  margin-bottom: 60px;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--color {
    color: $secondary-text-color;
  }
}

.footer__social-media {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0px;
}

.footer__join-us {
  margin-bottom: 60px;
}

.social-media__item {
  position: relative;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__text {
  margin: 0px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $secondary-text-color;
}


 
.social-media__footer-icon {
  position: absolute;
  width: 20px;
  height: 20px;

  top: 27%;
  left: 27%;

  fill: white;
}