.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.projects__item {
    margin-right: 0px;
    margin-bottom: 30px;
    width: 450px;

    &:nth-child(3n + 3) {
        margin-right: 0px;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.projects__overflow {
    position: relative;
    overflow: hidden;
}

.projects__link {
display: block;
position: relative;

&:hover, &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__title {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
}

.projects__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.projects__hover {
    position: absolute;
    top: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 294px;
    padding-left: 24px;
    padding-right: 24px;

    margin-top: 0px;
    margin-bottom: 0px;

    color: $secondary-text-color;
    background: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    opacity: 0;

    .projects__item:hover &,
    .projects__item:focus & {
        opacity: 1;
        top: 0;
}

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__border {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    background: $secondary-text-color;
    border: 1px solid #eeeeee;
    border-top: none;
}